body {
    background-color: rgb(166, 189, 211);
}


.myDiv {
    font-family: "Bebas Neue";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
    font-size: 48px;
    line-height: 1;
}

  
    
